<%- include("./layout/header") %>
<div class="page-body">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Üyeler</h5>
          <span>Bu kısımdan sitemize üye olan kişileri görüntüleyebilirsiniz.</span>
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li><i class="icofont icofont-simple-left"></i></li>
              <li><i class="icofont icofont-maximize full-card"></i></li>
              <li><i class="icofont icofont-minus minimize-card"></i></li>
              <li><i class="icofont icofont-refresh reload-card"></i></li>
              <li><i class="icofont icofont-error close-card"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-block table-border-style">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Ad,Soyad</th>
                  <th>E-Posta</th>
                </tr>
              </thead>
              <tbody>
              <% if(usersx) {%>
                <% usersx.forEach(function(user){ %>
                <tr>
                  <th scope="row"><%=user.id%></th>
                  <td><%=user.fullName%></td>
                  <td><%=user.email%></td>
                </tr>
                <%})%>
              <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./layout/footer") %>
